body, html {
    white-space: nowrap;
    height: 100%;
}

body {
    white-space: nowrap;
    padding-top: 50px;
}

#nav_bar {
    white-space: nowrap;
    color: blue;
    padding: 10px;
}

#subscribe {
    white-space: nowrap;
    padding: 10px;
    position: absolute;
    Width: 100%;
    bottom: 0;
	margin: 0 0 -30px 0;
}

#liquid, #chart_div {
    white-space: nowrap;
    padding: 50px 0 0 0;
}

#input_group {
    white-space: nowrap;
    padding: 0 50px 0 0;
}

#chart_div {
    height: 350px;
}

.wide {
    white-space: nowrap;
    width: 100%;
    height: calc(15% - 1px);
    background-image: url('https://ahavahcoffeeco.files.wordpress.com/2015/05/cropped-coffee_header_fade.png');
    background-size: cover;
}

.wide img {
    white-space: nowrap;
    width: 100%;
}

.logo {
    white-space: nowrap;
    color: #723000;
    font-weight: 800;
    font-size: 35pt;
    padding-top: 35px;
    padding-left: 500px;
    text-align: right;
}

.line {
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.about_text p, .about_text h1, .about_text img {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

#highscorelist {
    white-space: nowrap;
    padding: 40px;
    max-width: 500px;
}
