{% extends "website/base.html" %}

{% block content %}

    <div class="about_text">
        <h1>About this project</h1>
        <p style = "width: 200px; word-wrap: break-word; display:inline;">
           We are a group of 8 people who take the course TTM4115 - Design of Reactive Systems at NTNU, spring 2016. 
           The people behind this project is: Alexander Bakken,  Anders Lysne, Bjørn Olav Gjørven, Christian Sørseth, 
           Even Eidsvåg, Hege Krokås Borge, Sahed Abbas and Magnus Berge. 

           This web page is a part of a semester project where the assignment is to create a reactive system using a 
           Raspberry Pi and at least two other components.

           The purpose of this project is that a student who sits at the study hall should be able to check if there 
           is coffee in the coffee can without leaving his seat. This is done by having a weight which registers how 
           much coffee is left int he can. This information is then sent to the webpage.  A student can also 
           subscribe to being alerted via mail when a new coffee can has been brewed. There is also a highscore-list 
           over the brewers who has brewed the most.
        </p>
        <img src="https://media.giphy.com/media/NJokhR7GCs0uY/giphy.gif">
    </div>
<script>
window.onload=function () {
	$('#about').addClass('active');
};
</script>
	


{% endblock content %}
