{% extends "website/base.html" %}

{% block content %}
    <script>
        $("#about").click(function () {
            $('li.active').removeClass('active');
            $('li').eq($(this).parent().index()).addClass('active');
        });

        $("#home").click(function (e) {
            $('li.active').removeClass('active');
            $('li').eq($(this).parent().index()).addClass('active');
        })

        $("#highscore").click(function (e) {
            $('li.active').removeClass('active');
            $('li').eq($(this).parent().index()).addClass('active');
        })
    </script>

    <div class="about_text">
        <h1>About this project</h1>
        <p>This is a project for TTM4115 Design of Reactive Systems 1</p>
        <img src="https://media.giphy.com/media/NJokhR7GCs0uY/giphy.gif">
    </div>
	<script>
	window.onload=function () {
		$('#about').addClass('active');
	};
	</script>


{% endblock content %}
