{% load staticfiles %}



<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Abakaffe</title>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>

    <script src="{% static "js/liquidFillGauge.js" %}" language="JavaScript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static "js/graph.js" %}" language="JavaScript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/mainStyleSheet.css" %}">

</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li id="highscore"><a href="{% url 'highscore' %}">Highscore</a></li>
                <li id="home"><a href="{% url 'index' %}">Home</a></li>
                <li id="about"><a href="{% url 'about' %}">About</a></li>

            </ul>
        </div>
    </div>
</div>

<script>

    $('.navbar-nav > li > a').click(function () {
        $('.navbar-nav > li.active').removeClass('active');
        $(this).parent().addClass('active');
    });

</script>
<div class="wide">
    <div class="col-xs-5 line"></div>
    <div class="col-xs-2 logo">Abakaffe</div>
    <div class="col-xs-5 line"></div>

</div>
<div id="subscribe">
    <nav class="navbar navbar-default">
        <p class="navbar-text">Get notified when the coffee is ready</p>

        <form action="/subscribe/" method="POST" class="navbar-form navbar-left" role="search">
            {% csrf_token %}

            {{ form }}

            <div class="input-group" id="input_group">

                <input type="text" class="form-control" placeholder="Student Email" size="35" required>
                <span class="input-group-addon" id="basic-addon2">@stud.ntnu.no</span>

                <input type="submit" class="btn btn-default navbar-btn" value="Subscribe" onclick="subscribeClick()"/>

            </div>
        </form>


    </nav>
</div>
<script>
function subscribeClick() {
    window.alert("You have subscribed");
}
</script>

{% block content %}
{% endblock content %}

</body>
</html>