{% extends "website/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-4" id="highscorelist">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right" id>14</span>
                    Qbob
                </li>
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">2</span>
                    Kaffebro
                </li>
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">1</span>
                    Brewmaster
                </li>
            </ul>
        </div>
        <div id="chart_div" class="col-lg-8"></div>
    </div>
<script>
window.onload=function () {
	$('#highscore').addClass('active');
};
</script>
<script>
var monthly = {{monthly}}
var allTime = {{alltime}}
widget.init(monthly)
widget.init(allTime)
var resultLength = 4;
var listItems = [];
var score = 5;
var testScore = 10;
	
for(var i=0;i<resultLength;i++){
	var firstname = 'Bob';
	var lastname = ' Listerine - ' + i;	
		listItems.push("<li class='list-group-item'><span class='label label-default label-pill pull-xs-right'>"+ allTime +"</span>"+firstname+"</li>");
}
$('#listHighscore').append(listItems.join(' '));
$('#listHighscore').listview('refresh');
</script>

{% endblock content %}