{% extends "website/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-4" id="highscorelist">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">14</span>
                    Qbob
                </li>
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">2</span>
                    Kaffebro
                </li>
                <li class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">1</span>
                    Brewmaster
                </li>
            </ul>
        </div>
        <div id="chart_div" class="col-lg-8"></div>
    </div>
	<script>
	window.onload=function () {
		$('#highscore').addClass('active');
	};
	</script>

{% endblock content %}