<!DOCTYPE html>
<html>

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>Abakaffe</title>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    {% load staticfiles %}
    <script src="{% static "website/js/liquidFillGauge.js" %}" language="JavaScript"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "website/css/mainStyleSheet.css" %}">
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>
</head>
<body>
<div id="nav_bar">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Mainpage</a></li>
		<li role="presentation"><a href="#">Highscore</a></li>
		<li role="presentation"><a href="#">About</a></li>
	</ul>
</div>
<div id="liquid">
<svg id="fillgauge1" width="97%" height="250" onclick="gauge1.update(NewValue());"></svg>
<script language="JavaScript">


    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#D4AB6A";
    config1.textColor = "#553300";
    config1.waveTextColor = "#805615";
    config1.waveColor = "#AA7D39";
    config1.circleThickness = 0.2;
    config1.textVertPosition = 0.2;
    config1.waveAnimateTime = 1000;
	var gauge1 = loadLiquidFillGauge("fillgauge1", 55, config1);

    function NewValue(){
        if(Math.random() > .5){
            return Math.round(Math.random()*100);
        } else {
            return (Math.random()*100).toFixed(1);
        }
    }
</script>
</div>
<div id="subscribe">
	<nav class="navbar navbar-default">
		<p class="navbar-text">Get notified when your coffee is ready</p>
		<form class="navbar-form navbar-left" role="search">
			<div class="input-group" id="input_group">
				<input type="text" class="form-control" placeholder="Student Email" size="35">
				<span class="input-group-addon" id="basic-addon2">@stud.ntnu.no</span>
			</div>
		</form>
		<p class="navbar-text">Within next</p>
		<form class="navbar-form navbar-left" role="search">
			<input type="number" class="form-control"/>
		</form>
		<p class="navbar-text" >Hours</p>
		<button type="button" class="btn btn-default navbar-btn">Subscribe</button>
	</nav>
</div>
</body>
</html>