{% extends 'website/base.html' %}

{% block content %}


    <div class="row">
        <div id="liquid" class="col-lg-4">
            <svg id="fillgauge1" width="97%" height="250" onload="gauge1.update(NewValue());"></svg>
            <script language="JavaScript">

                var config1 = liquidFillGaugeDefaultSettings();
                config1.circleColor = "#D4AB6A";
                config1.textColor = "#553300";
                config1.waveTextColor = "#805615";
                config1.waveColor = "#AA7D39";
                config1.circleThickness = 0.05;
                config1.textVertPosition = 0.5;
                config1.waveAnimateTime = 1000;


                var gauge1 = loadLiquidFillGauge("fillgauge1", 55, config1);


                    function NewValue() {

                        var CoffeeAndScale = 4202; //grams
                        var OnlyScale = 2146;
                        var currentCoffeeAndScale = '{{ WEIGHT }}';

                        if(currentCoffeeAndScale <= 0) return 0;
                        if(currentCoffeeAndScale >= CoffeeAndScale) return 100;

                        var currentOnlyCoffee= currentCoffeeAndScale - OnlyScale;
                        var currentMaxCoffee = CoffeeAndScale - OnlyScale;

                        if (maxWeight >= coffeeWeight)
                        {
                            return ((currentOnlyCoffee / currentMaxCoffee) * 100).toFixed(1);
                        }
                        else
                        {
                            return 100;
                        }

                    }

            </script>
        </div>
        <div id="chart_div" class="col-lg-8"></div>
    </div>
    <script>
        window.onload = function () {
            $('#home').addClass('active');
        };
    </script>
    <script>

        var timeout = setTimeout("location.reload(true);", 60000); //reload every 1 minute unless resetTimeout() is called.
        function resetTimeout() {
            clearTimeout(timeout);
            timeout = setTimeout("location.reload(true);", 60000);
        }

    </script>

    <script>
        google.charts.load("current", {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var stdColor = "SaddleBrown";

            //number of brews per day
            var stat = "{{ STATISTICS|safe }}";
            stat = stat.replace(/[^a-zA-Z0-9,]/g, "");
            stat = stat.split(",");


            var data = google.visualization.arrayToDataTable([
                ["Day", "Brews", {role: "style"}],
                [stat[0], parseInt(stat[1]), stdColor],
                [stat[2], parseInt(stat[3]), stdColor],
                [stat[4], parseInt(stat[5]), stdColor],
                [stat[6], parseInt(stat[7]), stdColor],
                [stat[8], parseInt(stat[9]), stdColor],
                [stat[10], parseInt(stat[11]), stdColor],
                [stat[12], parseInt(stat[13]), stdColor]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Number of brews per week",
                width: 1000,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));

            chart.draw(view, options);
        }
    </script>

{% endblock content %}


{% block subscribe %}

    <div id="subscribe">
        <nav class="navbar navbar-default">
            <p class="navbar-text">Get notified when the coffee is ready</p>
            ​
            <form class="navbar-form navbar-left" action="/subscribe/" method="post">
                {% csrf_token %}

                {{ form }}

                <div class="input-group" id="input_group">

                    <span class="input-group-addon" id="basic-addon2">@stud.ntnu.no</span>

                </div>

                <input type="submit" value="Subscribe" class="btn btn-default navbar-btn"/>
            </form>
            ​

        </nav>
    </div>


{% endblock subscribe %}
{% block messages %}

    {% if error_msg != "nothing" and error_msg != None %}
        <strong><span id="error" style="font-size: large; color: maroon; ">Woops! Something went wrong :/</span></strong>
        <br/>
        <strong><span id="error" style="font-size: medium; color: maroon; ">{{ error_msg }}</span></strong>

    {% elif not error_msg %}
       <strong> <span id="success"
                      style="font-size: large; color: #006400; ">Congratulations, you have subscribed!</span></strong>
    {% else %}
         <!-- SHOW NOTHING :z-->
    {% endif %}

{% endblock messages %}

